@import "common";
@import "load";

.login_container{
    width: 1090px;
    margin: 0 auto;
}


.header_mian{
    background: #fff;
    position: relative;
    z-index: 300;
    height: 95px;
    .sotelogo{
            width: 300px;
            height: 45px;
            position: absolute;
            top: 21px;
            overflow: hidden;
        a{
            text-decoration: none;
            color: #3e3e3e;
        }
        img{
            float: left;
            border: none;
        }
        
    }
}
#login_box{
    
    .login-page-wrap{
        margin-top: 40px;
         overflow:hidden;
        background: url("../images/login.png") no-repeat 0 center;
       .loginup-article{

            width: 420px;
            margin-right: 68px;
            box-shadow: 0 0 5px #e1e1e1, 0 0 15px #e1e1e1;
            padding: 35px;
            box-sizing:border-box;

        // 注册标题
            .login-title{
                margin-bottom: 10px;
                .login-title-text{
                    font-family: 'Microsoft Yahei';
                    color: #5a5d6c;
                    font-weight: normal;
                    font-size: 21px;
                    .descrip{
                        font-size: 12px;
                        a{
                            margin-left: 3px;
                            margin-right: 3px;
                            color: #ec3e7d;
                        }
                    }
                    
                }
            }
                 // 登陆盒子
            .loginupbox{
                 a {
                    margin-left: 3px;
                    margin-right: 3px;
                    text-decoration: none;
                    color: #3e3e3e;
                }
                margin-top: 40px;
                form{
                    input{
                        vertical-align: middle;
                        outline: none;
                        line-height: 21px;
                        height: 21px;
                    }
                    ul{
                        li.form-item{
                            height: 51px;
                            font-size: 13px;
                            margin-bottom: 10px;
                            .form-label{
                                width: 145px;
                                display: none;
                                height: 32px;
                                overflow: hidden;
                                height: 32px;
                                overflow: hidden;
                                text-align: right;
                                float: left;
                                width: 5.2em;
                                line-height: 2.1em;
                                min-height: 1em;
                                font-size: 13px;
                                .warn{
                                        color: #ef4521;
                                }
                            }
                            .form-act {
                                display: block;
                                _display: inline;
                                line-height: 2.5em;
                                 position: relative;
                                font-size: 13px;
                                input[type=checkbox], input[type=radio] {
                                    height: 13px;
                                    width: 20px;
                                    box-shadow: none;
                                }
                                label {
                                    margin-left: 5px;
                                    margin-right: 15px;
                                    vertical-align: middle;
                                }
                                .x-input {
                                    height: 26px;
                                    line-height: 26px;
                                    padding: 4px;
                                    width: 340px;
                                }
                                .verify-input {
                                    width: 120px;
                                }
                                .auto-change-verify-handle {
                                    cursor: pointer;
                                    width: 80px;
                                    height: 36px;
                                }
                                
                            }
                            .password-check {
                                width: 22px;
                                overflow: hidden;
                                display: inline-block;
                                vertical-align: middle;
                                line-height: 40px;
                                visibility: hidden;
                                position: absolute;
                                right: 15px;
                                top: 0;
                            }
                            
                        }
                        .action-need-verify{
                            a.btn-caution {
                                span{
                                    border-color: transparent;
                                }
                            }

                        }
                        a.auto-change-verify-handle {
                            width: 50px;
                            line-height: 18px;
                            color: #666;
                        }
                        .btn span {
                            background-color: #ee407f;
                            display: inline-block;
                            height: 100%;
                            line-height: 35px;
                            font-size: inherit;
                            padding-left: 30px;
                            color: #fff;
                            span{
                                border: 0 none;
                                background-color: transparent;
                                padding-right: 30px;
                                padding-left: 0;

                            }
                        }
                        .btn-big, .passport-btn .btn-caution {
                                display: block;
                                width: 100%;
                                background: #ec3e7d;
                                line-height: 40px;
                                color: #fff;
                                font-size: 16px;
                                border:0;
                            }

                    }
                }
            }
        } 
    }
}