@charset "UTF-8";
.clearfix::after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

ul, li {
  list-style: none;
}

body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, dl, dd, fieldset, form, input, select, textarea, button, figure, ul, li {
  margin: 0;
  padding: 0;
}

img {
  border: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

input, select, textarea {
  border-width: 1px;
  border-color: #cccccc;
  padding: 1px;
}

input, select, button, textarea {
  font-size: 100%;
  font-family: inherit;
}

address, em, i {
  font-style: normal;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  display: table-cell;
  vertical-align: inherit;
}

.focus {
  border-color: #f9a0b4;
  box-shadow: 0 0 5px #fbb4b0;
}

.error {
  color: #666666;
}

/*枚红色*/
/*字体深灰色*/
/*背景浅灰色*/
/*公告背景中等灰色*/
/*white*/
.container {
  width: 1200px;
  margin: 0 auto;
}

/*欢迎条*/
.topbar {
  height: 32px;
  line-height: 32px;
  background-color: #f2f2f2;
  font-size: 12px;
  color: #6c6c6c;
  border-bottom: 1px solid #e5e5e5;
}

.topbar a {
  color: #6c6c6c;
}

.topbar .login-bar {
  float: left;
}

.topbar .login-bar a {
  color: #ec3e7d;
  text-decoration: underline;
}

.topbar .member-link {
  float: right;
  _display: inline;
  text-align: right;
}

.topbar .member-link ul li {
  float: left;
  display: inline-block;
  height: 32px;
  position: relative;
  z-index: 305;
  /*关注我们*/
}

.topbar .member-link ul li:hover {
  background: #fff;
}

.topbar .member-link ul li .member-linktext a {
  display: block;
  font-weight: normal;
  padding: 0 12px;
}

.topbar .member-link ul li .member-linktext a i {
  color: #ec3e7d;
  font-weight: bolder;
}

.topbar .member-link ul li .member-linktext .minicart-cont {
  width: 300px;
  overflow: hidden;
  visibility: hidden;
  background-color: white;
  position: absolute;
  top: 32px;
  right: 0;
  border: 1px solid #ddd;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.topbar .member-link ul li .member_attention_2 {
  text-align: center;
  padding-left: 12px;
  padding-right: 12px;
  position: relative;
}

.topbar .member-link ul li .member_attention_2 .member_attention .member_attention_content {
  background-color: #fff;
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 1;
  display: none;
  left: 0;
  border: 1px solid #ddd;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.topbar .member-link ul li .member_attention_2 .member_attention:hover .member_attention_content {
  display: block;
}

/*头部logo搜索区域*/
.header-main {
  padding-top: 20px;
}

.header-main .container {
  text-align: center;
  position: relative;
}

.header-main .container .sasalogo {
  height: 45px;
  position: absolute;
  top: 0;
  overflow: hidden;
}

.header-main .container .search {
  display: inline-block;
}

.header-main .container .search .search-input {
  background-color: #ec3e7d;
  width: 346px;
  height: 36px;
  float: left;
  _display: inline;
  position: relative;
}

.header-main .container .search .search-input .key {
  outline: none;
  border: none;
  width: 330px;
  height: 24px;
  line-height: 24px;
  padding: 3px 5px;
  font-size: 14px;
  position: absolute;
  left: 3px;
  top: 3px;
}

.header-main .container .search .btn-search {
  border: none;
  color: white;
  text-align: center;
  background-color: #ec3e7d;
  width: 90px;
  height: 36px;
  line-height: 36px;
  float: left;
  _display: inline;
  cursor: pointer;
  text-shadow: none;
  padding: 0;
  outline: none;
}

.header-main .container .search .hot-keywords {
  width: 500px;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  clear: both;
  font-size: 12px;
  text-align: left;
}

.header-main .container .search .hot-keywords a {
  color: #999;
  border-left: 1px solid #999;
  line-height: 14px;
  height: 14px;
  display: inline-block;
  padding: 0 10px;
  margin-left: -10px;
  margin-right: 10px;
  -webkit-transition: color .4s linear 0s;
  -moz-transition: color .4s linear 0s;
  -ms-transition: color .4s linear 0s;
  transition: color .4s linear 0s;
}

/*导航条*/
.nav_category {
  height: 38px;
}

.nav_category .all_category {
  float: left;
  color: #fff;
  position: relative;
}

.nav_category .all_category .all_category_head {
  font-size: 16px;
  position: relative;
  width: 190px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding-left: 50px;
  height: 38px;
  line-height: 38px;
  cursor: auto;
  background-color: #333;
}

.nav_category .all_category ul.all_category_title_box {
  position: absolute;
  top: 36px;
  height: 420px;
  z-index: 2000;
}

.nav_category .all_category ul.all_category_title_box li.kindname {
  width: 170px !important;
  height: 29px !important;
  padding: 11px 0px 11px 20px;
  position: relative;
  background-color: #fa3778;
  border-bottom: 1px dotted #fe7dab;
}

.nav_category .all_category ul.all_category_title_box li.kindname:hover {
  background: #fff;
  color: #ec3e7d;
}

.nav_category .all_category ul.all_category_title_box li.kindname:hover a {
  color: #ec3e7d;
}

.nav_category .all_category ul.all_category_title_box li.kindname:hover .aftericon {
  color: #999;
}

.nav_category .all_category ul.all_category_title_box li.kindname:hover .append_div {
  display: block;
  position: absolute;
  left: 190px;
  top: -1px;
  border: 1px solid #fa3778;
  width: 340px;
  overflow: hidden;
  background-color: #fff;
  padding: 10px 25px;
  -webkit-box-sizing: border-box;
}

.nav_category .all_category ul.all_category_title_box li.kindname:hover .append_div .goodkindbox h5 {
  width: calc(100% - 5px);
  margin-left: 5px;
  height: 35px;
  line-height: 35px;
  font-size: 14px;
  font-weight: bold;
}

.nav_category .all_category ul.all_category_title_box li.kindname:hover .append_div .goodkindbox ul li {
  display: inline-block;
  padding: 0px 5px;
  text-align: center;
  color: #999;
  font-size: 12px;
  line-height: 24px;
}

.nav_category .all_category ul.all_category_title_box li.kindname .beforericon {
  font-size: 22px;
  margin-right: 10px;
}

.nav_category .all_category ul.all_category_title_box li.kindname .aftericon {
  float: right;
  line-height: 29px;
  height: 29px;
  margin-right: 20px;
}

.nav_category .all_category ul.all_category_title_box li.kindname a {
  font-size: 16px;
  line-height: 30px;
}

.nav_category .all_category ul.all_category_title_box li.kindname .append_div {
  position: absolute;
  left: 190px;
  top: 0;
  display: none;
}

.nav_category .all_category ul.all_category_title_box li.kindname .append_div li:hover {
  color: #ec3e7d;
}

.nav_category ul.sub_nav {
  float: left;
  height: 36px;
  line-height: 36px;
  position: relative;
  margin-left: 20px;
}

.nav_category ul.sub_nav li {
  float: left;
  display: inline-block;
  overflow: hidden;
  padding: 0 5px;
  text-align: center;
}

.nav_category ul.sub_nav li.sub_nav_item {
  position: relative;
}

.nav_category ul.sub_nav li.sub_nav_item a {
  color: #111111;
  font-size: 16px;
}

.nav_category ul.sub_nav li.sub_nav_item a:hover {
  color: #ec3e7d;
}

.nav_category ul.sub_nav li.sub_nav_item a i.icon-hot {
  font-size: 30px;
  color: #ec3e7d;
}

.nav_category ul.sub_nav li.sub_nav_sep {
  width: 20px !important;
  text-align: center !important;
  margin: 0 !important;
  color: #eee !important;
  font-weight: 100;
}

/*sasa的承诺*/
.sasa_promise_wrapper {
  border-top: 1px solid #ddd;
  background: white;
}

.sasa_promise_wrapper .sasa_promise {
  font-size: 12px;
  width: 1200px;
  height: 126px;
  margin: 0 auto;
  overflow: hidden;
}

.sasa_promise_wrapper .sasa_promise .sasa_promise_item {
  height: 100%;
  float: left;
  margin-right: 80px;
  overflow: hidden;
}

.sasa_promise_wrapper .sasa_promise .sasa_promise_item .sasa_promise_icon {
  float: left;
  margin-top: 42px;
  height: 32px;
  width: 32px;
  color: #fff;
  background-image: url(../images/promise_icon.png);
  background-repeat: no-repeat;
}

.sasa_promise_wrapper .sasa_promise .sasa_promise_item .sasa_promise_content {
  margin-left: 14px;
  float: left;
  height: 50px;
  overflow: hidden;
  margin-top: 38px;
}

.sasa_promise_wrapper .sasa_promise .sasa_promise_item .sasa_promise_content .sasa_promise_title {
  font-size: 18px;
  color: #222;
  width: 100%;
  height: 22px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.sasa_promise_wrapper .sasa_promise .sasa_promise_item .sasa_promise_content .sasa_promise_subtit {
  font-size: 13px;
  color: #999999;
  margin-top: 4px;
  width: 100%;
  height: 22px;
  overflow: hidden;
  white-space: nowrap;
}

/*footer*/
.buttom_box {
  overflow: hidden;
}

.buttom_box .footer_left {
  width: 800px;
  float: left;
  margin-bottom: 20px;
}

.buttom_box .footer_left li {
  width: 90px;
  margin-right: 60px;
  float: left;
}

.buttom_box .footer_left li h6 {
  color: #222;
  font-size: 14px;
}

.buttom_box .footer_left li a {
  display: inline-block;
  width: 90px;
  color: #999;
  font-size: 12px;
}

.buttom_box .footer_right {
  float: right;
  width: 300px;
  box-sizing: border-box;
}

.buttom_box .footer_right .btom-code {
  width: 128px;
  max-height: 178px;
  float: right;
  margin-top: 20px;
  text-align: center;
}

.buttom_box .footer_right .btom-code .btom-code img {
  width: 128px;
}

.buttom_box .footer_right .btom-code .footer_qrcode_name {
  font-size: 12px;
  font-weight: bold;
  color: #111111;
}

.buttom_box .footer_right .btom-code .footer_qrcode_desc {
  font-size: 12px;
  font-weight: bold;
  color: #111111;
}

.buttom_box .footer_right .btom-code2 {
  margin-right: 40px;
}

.buttom_box img {
  margin-bottom: 20px;
}

/*底部黑色区域*/
.footer_link_2 {
  background-color: #000;
  padding-top: 26px;
  padding-bottom: 26px;
  font-size: 12px;
}

.footer_link_2 a {
  display: inline-block;
  padding: 1px 5px;
  color: #fff;
  font-size: 12px;
}

.footer_link_2 .footer_link_2_copyright {
  padding-top: 14px;
  line-height: 12px;
  color: #fff;
}

/*sidebar*/
.siderbar .sidebar-box {
  position: fixed;
  right: 1px;
  top: 0;
  z-index: 528;
  height: 100%;
  width: 38px;
  background: #4c4c4c;
  text-align: center;
}

.siderbar .sidebar-box .expend_page, .siderbar .sidebar-box cont {
  display: none;
}

.siderbar .sidebar-box .side_item {
  position: relative;
  left: 0;
  width: 38px;
  line-height: 38px;
  cursor: pointer;
  text-align: center;
  z-index: 9;
  padding: 5px;
  box-sizing: border-box;
}

.siderbar .sidebar-box .side_item .cont {
  display: none;
  opacity: 0;
  position: absolute;
  right: 70px;
  top: 0px;
  width: 90px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  color: #ddd;
  background-color: #494949;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.siderbar .sidebar-box .side_item .arrow_right {
  position: absolute;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  font-size: 16px;
  font-family: "\5b8b\4f53";
}

.siderbar .sidebar-box .side_item:hover {
  background: #ec3e7d;
}

.siderbar .sidebar-box .side_item a {
  color: #fff;
  font-size: 12px;
  display: block;
  width: 20px;
  margin: 0 auto;
}

.siderbar .sidebar-box .side_item a i.iconfont {
  color: #c69a62;
  font-size: 20px;
}

.siderbar .sidebar-box .box-one {
  position: absolute;
  top: 40%;
  left: 0;
  margin-top: -190px;
  z-index: 2;
}

.siderbar .sidebar-box .box-one .sidecarts-explain {
  margin: 0 auto;
  font-weight: normal;
  line-height: 15px;
  padding-bottom: 10px;
}

.siderbar .sidebar-box .box-one .sidecart {
  line-height: 15px;
  border-top: 1px solid #666;
  padding: 25px 0;
  border-bottom: 1px solid #666;
}

.siderbar .sidebar-box .box-one .sidecart a {
  margin-bottom: 10px;
}

.siderbar .sidebar-box .box-one .sidecart #js_cartnum {
  color: #fff;
  font-size: 9px;
  display: inline-block;
  background-color: #ec3e7d;
  line-height: 20px;
  width: 20px;
  margin: 0 3px;
  display: inline-block;
  border-radius: 10px;
  text-align: center;
}

.siderbar .sidebar-box .box-two {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.list_nav .nav_category .container .all_category .all_category_title_box {
  display: none;
}

.list_nav .nav_category .container .all_category:hover .all_category_title_box {
  display: block;
}

.goodsdetails_box {
  background: #ebebeb;
}

.bread-crumbs {
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  margin: 15px auto;
  color: #888888 a;
  color-color: #888888;
}

.bread-crumbs .now {
  font-weight: normal;
  display: inline;
  font-size: 14px;
}

.yew {
  color: #ee9c23;
}

.clb {
  zoom: 1;
  clear: both;
}

input {
  vertical-align: middle;
}

a {
  color: #3e3e3e;
}

.product-container {
  background: #fff;
  margin-bottom: 30px;
  width: 100%;
  table-layout: fixed;
}

.seckill_time2 {
  background: #bf9b5f;
  height: 58px;
  line-height: 50px;
  color: #fff;
  font-size: 24px;
  padding-left: 15px;
  position: relative;
}

.seckill_time2 .zijt {
  width: 20px;
  height: 19px;
  background: url(/themes/default/images/tips.png) no-repeat -360px -405px;
  display: block;
  position: absolute;
  left: 40px;
  top: 50px;
}

.seckill_time2 .buy_num {
  font-size: 14px;
  padding-right: 30px;
}

.seckill_time2 .buy_num b {
  font-size: 24px;
}

.product-side {
  width: 550px;
}

.product-side .iconfont {
  font-size: 30px;
}

.product-side .date-column {
  margin-left: 6px;
}

.product-side .sidecount {
  width: 68px;
  height: 68px;
  padding: 40px 40px 0 0;
  background-position: 0 -489px;
  color: #fff;
  margin: 10px 0 0 35px;
  display: block;
  text-align: right;
}

.product-side .sidecount b {
  font-family: Georgia,"Times New Roman",Times,serif;
  font-size: 40px;
  margin-right: 5px;
  font-weight: normal;
  font-size: oblique;
  font-style: italic;
}

.product-side .product-album {
  width: 500px;
  margin: 25px auto;
  position: relative;
}

.product-side .product-album .product-album-preview {
  position: relative;
}

.product-side .product-album .product-album-preview .icon-over3 {
  width: 230px;
  height: 230px;
  background: url(/themes/default/images/tips.png) 0 -1130px;
  position: absolute;
  top: 30px;
  left: 140px;
  z-index: 101;
  text-indent: -9999px;
  overflow: hidden;
}

.product-side .product-album .product-album-preview .product-album-pic {
  position: relative;
  overflow: hidden;
  text-align: center;
  font-family: Arial;
  margin: 0 auto;
  width: 300px;
  height: 300px;
}

.product-side .product-album .product-album-preview .product-album-pic img {
  border: none;
}

.product-side .product-album .product-album-preview .product-album-zoom {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 11;
  background-color: #f6f6f6;
  width: 24px;
  height: 24px;
  text-align: center;
  opacity: 0.85;
  filter: alpha(opacity=85);
}

.product-side .product-album .product-album-preview .product-album-zoom a {
  color: #666666;
  font-size: 21px;
  line-height: 24px;
}

.product-side .product-tips {
  width: 88%;
  margin: 0 auto 20px auto;
  overflow: hidden;
}

.product-side .product-tips dd {
  display: inline-block;
  margin-right: 10px;
  color: #999;
  float: left;
}

.product-side .product-tips dd img {
  vertical-align: middle;
  margin-right: 5px;
  max-height: 20px;
}

.product-side .product-album-thumb {
  margin-top: 10px;
  width: 100%;
  position: relative;
  clear: left;
}

.product-side .product-album-thumb .prev {
  left: 0;
}

.product-side .product-album-thumb .thumbnail-list {
  margin: 0 26px;
  padding-top: 5px;
  overflow: hidden;
  width: 450px;
  height: 105px;
}

.product-side .product-album-thumb .thumbnail-list li {
  margin: 0 5px 0 0;
  float: left;
}

.product-side .product-album-thumb .thumbnail-list li img {
  max-width: 60px;
  max-height: 60px;
  vertical-align: middle;
  border: none;
}

.product-side .product-album-thumb .next {
  right: 0;
}

.product-side .product-album-thumb .flip {
  position: absolute;
  top: 0;
  margin-top: 5px;
  width: 16px;
  height: 105px;
  line-height: 64px;
  text-align: center;
  border-radius: 8px;
}

.product-side .product-album-thumb .flip a {
  color: #e5cbb2;
  font-size: 28px;
  margin-left: -1px;
  display: block;
  margin-top: 15px;
}

.product-side .product-album-thumb .over a {
  color: #cccccc;
  cursor: default;
  display: block;
}

.product-main {
  width: 570px;
}

.product-main .bonded-banner {
  width: 495px;
  height: 44px;
  padding-bottom: 24px;
}

.product-main .bonded-banner img {
  width: 100%;
  height: auto;
  display: block;
}

.product-main .product-titles {
  padding-bottom: 30px;
  line-height: 1.2;
  text-align: left;
  font-size: 22px;
  font-weight: normal;
}

.product-main .product-titles .iconfont {
  color: #c29b60;
  font-size: 25px;
  vertical-align: super;
}

.product-main .product-line {
  border-left: 1px dashed #f0eee2;
  padding-left: 30px;
  margin-left: -30px;
  clear: both;
}

.product-main .product-line .product-titles2 {
  color: #505a64;
  font-size: 18px;
  line-height: 26px;
}

.product-main .product-line .product-information {
  line-height: 2;
  float: left;
  width: 100%;
  padding-bottom: 40px;
}

.product-main .product-line .product-information .detail {
  height: 24px;
  color: #888888;
  padding-left: 5px;
}

.product-main .product-line .product-information .pop-wrapper {
  position: relative;
}

.product-main .product-line .product-information .product-buy {
  padding: 10px 0;
  margin-top: 10px;
}

.product-main .product-line .product-information .product-buy .product-buy-quantity {
  margin-bottom: 20px;
}

.product-main .product-line .product-information .product-buy .product-buy-quantity .p-quantity {
  width: 74px;
}

.product-main .product-line .product-information .product-buy .product-buy-quantity .p-quantity a {
  display: inline-block;
  width: 20px;
  height: 21px;
  overflow: hidden;
  vertical-align: middle;
  border: 1px solid #f2f2f2;
  text-align: center;
  font: 14px/22px simsun,serif;
  background: #f2f2f1;
  font-weight: bold;
}

.product-main .product-line .product-information .product-buy .product-buy-quantity .p-quantity a:hover {
  background-color: #ddd;
  color: white;
  border-color: #ddd;
}

.product-main .product-line .product-information .product-buy .product-buy-quantity .p-quantity input {
  width: 30px;
  height: 21px;
  line-height: 21px;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  border-width: 1px 0;
  border-style: solid;
  border-color: #f2f2f2;
  text-align: center;
}

.product-main .product-line .product-information .product-buy .product-buy-quantity .p-store {
  padding: 0 10px;
  color: #ec3e7d;
  display: inline-block;
  margin-left: 3px;
  vertical-align: middle;
}

.product-main .product-line .product-information .product-buy .product-buy-quantity .p-store i {
  margin-right: 5px;
  font-size: 20px;
}

.product-main .product-line .product-information .product-buy .item-label {
  float: left;
}

.product-main .product-line .product-information .product-buy .item-content {
  display: block;
}

.product-main .product-line .product-information .product-buy .product-concerns {
  position: relative;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.product-main .product-line .product-information .product-buy .product-concerns li {
  clear: both;
  padding: 5px 0;
}

.product-main .product-line .product-information .product-buy .product-concerns li .detail {
  height: 24px;
  color: #888888;
  padding-left: 5px;
}

.product-main .product-line .product-information .product-buy .product-concerns li .price {
  color: #ec3e7d;
}

.product-main .product-line .product-information .product-buy .product-concerns li .price ins {
  font-size: 35px;
  line-height: 1.2;
  text-decoration: none;
}

.product-main .product-line .product-information .product-buy .product-concerns li .old-price {
  margin-left: 15px;
  margin-right: 15px;
}

.product-main .product-line .product-information .product-buy .product-buy-action {
  word-break: break-all;
  word-wrap: break-word;
}

.product-main .product-line .product-information .product-buy .product-buy-action .btn-major {
  margin-right: 15px;
  width: 220px;
  height: 50px;
  background: #ec3e7d;
  line-height: 50px;
  overflow: hidden;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.product-main .product-line .product-information .product-buy .product-buy-action .btn-major span {
  background: #ec3e7d;
}

.product-main .product-line .product-information .product-buy .product-buy-action buy_btn {
  color: #fff;
}

.product-main .product-line .product-information .product-buy .product-buy-action .btn-prohui {
  background: #8f8f8f;
  padding: 0px 20px;
  border: none;
  height: 50px;
  line-height: 50px;
  color: #fff;
  font-size: 16px;
  float: right;
  margin-left: 15px;
  border-radius: 0;
  float: left;
  margin: -10px 20px 0 0;
  width: 120px;
  text-align: center;
}

.product-main .product-line .product-information .product-buy .product-buy-action .btn span span {
  border: 0 none;
  background-color: transparent;
  padding-right: 30px;
  padding-left: 0;
}

.product-main .product-line .product-information .product-buy .product-buy-action .btn-huge span span {
  padding-left: 0;
  padding-right: 50px;
}

.product-main .product-line .product-information .product-buy .product-buy-action .action-handle {
  margin-right: 0;
  padding: 3px 5px;
  border: 1px solid white;
  border-top-width: 0;
}

.product-main .product-line .product-information .product-buy .product-buy-action .pop-body {
  left: 0;
  bottom: 46px;
  padding: 1px;
  position: absolute;
  z-index: 1;
  background-color: white;
  border: 1px solid #cccccc;
  box-shadow: 1px 1px 1px rgba(151, 151, 151, 0.5);
}

.product-main .product-line .product-information .product-buy .product-buy-action .pop-body img {
  display: block;
}

.product-main .product-line .product-information .product-share {
  border-top: 1px solid #dfdfdf;
  margin-top: 15px;
  padding-top: 20px;
}

.sales-rank {
  background: #fff;
  overflow: hidden;
  margin-bottom: 26px;
  width: 253px;
}

.sales-rank .gray-title {
  height: 50px;
  line-height: 50px;
  border-left: 5px solid #c69a62;
  border-bottom: 1px solid #ebebeb;
  color: #585c65;
  font-size: 16px;
  padding-left: 12px;
  position: relative;
}

.sales-rank .product-item {
  height: 69px;
  border-top: 1px dashed #d4d4d4;
  padding: 20px 10px;
  margin-top: -1px;
}

.sales-rank .product-item .product-img {
  display: block;
  width: 69px;
  height: 69px;
  overflow: hidden;
  float: left;
  text-align: center;
}

.sales-rank .product-item .product-info {
  margin-left: 79px;
  overflow: hidden;
}

.sales-rank .product-item .product-name {
  display: block;
  width: 100%;
  max-height: 45px;
  overflow: hidden;
}

.sales-rank .product-item .product-price {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #ec3e7d;
}

.pro-maincont {
  width: 920px;
  margin-bottom: 30px;
}

.pro-maincont .product-tags {
  width: 920px !important;
  background: #fff;
  height: 50px;
  z-index: 120;
}

.pro-maincont .product-tags .hover {
  border-bottom: 3px solid #c69a62;
}

.pro-maincont .product-tags .tags-hd {
  font-size: 14px;
  float: left;
  margin-right: 5px;
  font-weight: normal;
}

.pro-maincont .product-tags .tags-hd a {
  color: #555c67;
  border: 1px solid white;
  display: block;
  padding: 2px 26px;
  height: 42px;
  line-height: 42px;
  font-size: 16px;
}

.pro-maincont .product-tags .tags-addtocart {
  float: right;
  width: 260px;
}

.pro-maincont .product-tags .tags-addtocart .btn {
  background: #ec3e7d;
  padding: 0px 20px;
  height: 50px;
  line-height: 50px;
  color: #fff;
  font-size: 16px;
  float: right;
  margin-left: 15px;
  border-radius: 0;
}

.pro-maincont .product-tags .price {
  line-height: 50px;
}

.pro-maincont .product-section {
  overflow: hidden;
}

.pro-maincont .product-section .mod-title {
  height: 32px;
}

.pro-maincont .product-comment, .pro-maincont .product-related {
  background: #fff;
  overflow: hidden;
  margin-bottom: 26px;
}

.pro-maincont .product-comment .mod-title, .pro-maincont .product-related .mod-title {
  border-left: 3px solid #db3f7e;
}

.pro-maincont .mod-title-text {
  line-height: 32px;
  font-weight: 400;
  padding-left: 10px;
  font-size: 21px;
  background-position: 110px -46px;
  background: url("/images/probt.png") no-repeat 110px 3px;
}

.pro-maincont .product-parameters {
  margin-bottom: 26px;
}

.pro-maincont .product-attributes {
  background-color: #fff;
}

.pro-maincont .product-attributes ul {
  padding: 30px 45px;
}

.pro-maincont .product-attributes ul li {
  clear: both;
  color: #333;
  padding: 6px 0;
}

.pro-maincont .product-attributes ul li span {
  width: 140px;
  color: #666;
  display: inline-block;
}

.pro-maincont .product-attributes ul li .attributes-cont {
  width: 580px;
  float: right;
  text-align: left;
}

.pro-maincont .detail-content {
  background: #fff;
  overflow: hidden;
  margin-bottom: 26px;
}

.pro-maincont .detail-content .mod-title-text {
  background-position: 110px -46px;
}

.pro-maincont .detail-content .detailarea-content {
  padding: 40px 30px;
}

.pro-maincont .detail-content .detailarea-content .article-main p {
  text-indent: 20px;
}

.pro-maincont .mod {
  padding-top: 20px;
}

.pro-maincont .comment-list {
  padding: 10px 10px 10px 10px;
  line-height: 24px;
  background-position: 110px -146px;
}

.pro-maincont .comment-list .title {
  padding-left: 55px;
  margin-top: -20px;
}

.pro-maincont .comment-list .content {
  margin-top: 50px;
}

.pro-maincont .comment-list .comment-item {
  margin: 15px 0 40px 0;
}

.pro-maincont .comment-list .member {
  width: 145px;
  float: left;
  text-align: center;
  margin-right: 5px;
}

.pro-maincont .comment-list .member-discuss {
  position: relative;
  width: 575px;
  margin-left: 150px;
  padding: 20px 24px;
  background-color: #f2f2f2;
  border-radius: 2px;
  -webkit-border-radius: 2px;
}

.pro-maincont .comment-list .point-left {
  top: 20px;
  left: -20px;
}

.pro-maincont .comment-list .point {
  position: absolute;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  width: 20px;
  height: 20px;
  color: #d72426;
}

.pro-maincont .comment-list .discuss-label {
  overflow: hidden;
  padding-bottom: 5px;
}

.pro-maincont .comment-list .comlst-title {
  float: left;
  margin-right: 20px;
  color: #ec3e7d;
  font-size: 18px;
  width: 40%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.pro-maincont .comment-list .comlst-point {
  margin-right: 5px;
}

.pro-maincont .comment-list .stars {
  position: relative;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 1px;
  display: inline-block;
}

.pro-maincont .comment-list .stars .icon {
  font-family: iconfonts,sans-serif;
}

.pro-maincont .comment-list .stars .below {
  color: #dddddd;
  width: 80px;
  display: inline-block;
}

.pro-maincont .comment-list .stars .above {
  width: 100%;
  position: absolute;
  left: 0;
  color: #c29b60;
  overflow: hidden;
}

.pro-maincont .comment-list .discuss-content {
  clear: right;
  padding: 8px;
  border-top: 1px solid #ec3e7d;
  color: #575e68;
}

.pro-maincont .comment-list .discuss-detail {
  color: #575e68;
}

.pro-maincont .comment-list .discuss-time {
  font-size: 14px;
  color: #bebebe;
  clear: both;
  line-height: 40px;
}

.pro-maincont .product-score {
  width: 100%;
  line-height: 24px;
}

.grey {
  color: #959595;
}

.del {
  text-decoration: line-through;
}

.code-pro {
  border: 1px solid #dedede;
  padding: 15px 18px;
  color: #999999;
}

.code-pro i, .code-pro .btn {
  color: #999999;
}

.a {
  color: #3e3e3e;
}

/*原本图片盒子*/
.album-preview-container {
  position: relative;
  display: inline-block;
  line-height: 100%;
}

.album-preview-container img {
  width: 300px;
  height: 300px;
}

/*可移动放大镜，相对于图片盒子定位*/
.album-preview-container .album-zooms-handle {
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid #fc0;
  background-color: #b3d5ff;
  opacity: 0.5;
  filter: alpha(Opacity=50);
  z-index: 2000;
}

/*接收放大效果的图片的盒子，定位于body*/
.big_img_cont {
  display: none;
  position: absolute;
  overflow: hidden;
  z-index: 30000;
}

/*详图 相对于盒子定位*/
.big_img_cont img {
  position: absolute;
  left: 0;
  right: 0;
}
