@charset "UTF-8";
/*枚红色*/
/*字体深灰色*/
/*背景浅灰色*/
/*公告背景中等灰色*/
/*white*/
.clearfix::after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

ul, li {
  list-style: none;
}

body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, dl, dd, fieldset, form, input, select, textarea, button, figure, ul, li {
  margin: 0;
  padding: 0;
}

img {
  border: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

input, select, textarea {
  border-width: 1px;
  border-color: #cccccc;
  padding: 1px;
}

input, select, button, textarea {
  font-size: 100%;
  font-family: inherit;
}

address, em, i {
  font-style: normal;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  display: table-cell;
  vertical-align: inherit;
}

/*枚红色*/
/*字体深灰色*/
/*背景浅灰色*/
/*公告背景中等灰色*/
/*white*/
.container {
  width: 1200px;
  margin: 0 auto;
}

/*欢迎条*/
.topbar {
  height: 32px;
  line-height: 32px;
  background-color: #f2f2f2;
  font-size: 12px;
  color: #6c6c6c;
  border-bottom: 1px solid #e5e5e5;
}

.topbar a {
  color: #6c6c6c;
}

.topbar .login-bar {
  float: left;
}

.topbar .login-bar a {
  color: #ec3e7d;
  text-decoration: underline;
}

.topbar .member-link {
  float: right;
  _display: inline;
  text-align: right;
}

.topbar .member-link ul li {
  float: left;
  display: inline-block;
  height: 32px;
  position: relative;
  z-index: 305;
  /*关注我们*/
}

.topbar .member-link ul li:hover {
  background: #fff;
}

.topbar .member-link ul li .member-linktext a {
  display: block;
  font-weight: normal;
  padding: 0 12px;
}

.topbar .member-link ul li .member-linktext a i {
  color: #ec3e7d;
  font-weight: bolder;
}

.topbar .member-link ul li .member-linktext .minicart-cont {
  width: 300px;
  overflow: hidden;
  visibility: hidden;
  background-color: white;
  position: absolute;
  top: 32px;
  right: 0;
  border: 1px solid #ddd;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.topbar .member-link ul li .member_attention_2 {
  text-align: center;
  padding-left: 12px;
  padding-right: 12px;
  position: relative;
}

.topbar .member-link ul li .member_attention_2 .member_attention .member_attention_content {
  background-color: #fff;
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 1;
  display: none;
  left: 0;
  border: 1px solid #ddd;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.topbar .member-link ul li .member_attention_2 .member_attention:hover .member_attention_content {
  display: block;
}

/*头部logo搜索区域*/
.header-main {
  padding-top: 20px;
}

.header-main .container {
  text-align: center;
  position: relative;
}

.header-main .container .sasalogo {
  height: 45px;
  position: absolute;
  top: 0;
  overflow: hidden;
}

.header-main .container .search {
  display: inline-block;
}

.header-main .container .search .search-input {
  background-color: #ec3e7d;
  width: 346px;
  height: 36px;
  float: left;
  _display: inline;
  position: relative;
}

.header-main .container .search .search-input .key {
  outline: none;
  border: none;
  width: 330px;
  height: 24px;
  line-height: 24px;
  padding: 3px 5px;
  font-size: 14px;
  position: absolute;
  left: 3px;
  top: 3px;
}

.header-main .container .search .btn-search {
  border: none;
  color: white;
  text-align: center;
  background-color: #ec3e7d;
  width: 90px;
  height: 36px;
  line-height: 36px;
  float: left;
  _display: inline;
  cursor: pointer;
  text-shadow: none;
  padding: 0;
  outline: none;
}

.header-main .container .search .hot-keywords {
  width: 500px;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  clear: both;
  font-size: 12px;
  text-align: left;
}

.header-main .container .search .hot-keywords a {
  color: #999;
  border-left: 1px solid #999;
  line-height: 14px;
  height: 14px;
  display: inline-block;
  padding: 0 10px;
  margin-left: -10px;
  margin-right: 10px;
  -webkit-transition: color .4s linear 0s;
  -moz-transition: color .4s linear 0s;
  -ms-transition: color .4s linear 0s;
  transition: color .4s linear 0s;
}

/*导航条*/
.nav_category {
  height: 38px;
}

.nav_category .all_category {
  float: left;
  color: #fff;
  position: relative;
}

.nav_category .all_category .all_category_head {
  font-size: 16px;
  position: relative;
  width: 190px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding-left: 50px;
  height: 38px;
  line-height: 38px;
  cursor: auto;
  background-color: #333;
}

.nav_category .all_category ul.all_category_title_box {
  position: absolute;
  top: 36px;
  height: 420px;
  z-index: 2000;
}

.nav_category .all_category ul.all_category_title_box li.kindname {
  width: 170px !important;
  height: 29px !important;
  padding: 11px 0px 11px 20px;
  position: relative;
  background-color: #fa3778;
  border-bottom: 1px dotted #fe7dab;
}

.nav_category .all_category ul.all_category_title_box li.kindname:hover {
  background: #fff;
  color: #ec3e7d;
}

.nav_category .all_category ul.all_category_title_box li.kindname:hover a {
  color: #ec3e7d;
}

.nav_category .all_category ul.all_category_title_box li.kindname:hover .aftericon {
  color: #999;
}

.nav_category .all_category ul.all_category_title_box li.kindname:hover .append_div {
  display: block;
  position: absolute;
  left: 190px;
  top: -1px;
  border: 1px solid #fa3778;
  width: 340px;
  overflow: hidden;
  background-color: #fff;
  padding: 10px 25px;
  -webkit-box-sizing: border-box;
}

.nav_category .all_category ul.all_category_title_box li.kindname:hover .append_div .goodkindbox h5 {
  width: calc(100% - 5px);
  margin-left: 5px;
  height: 35px;
  line-height: 35px;
  font-size: 14px;
  font-weight: bold;
}

.nav_category .all_category ul.all_category_title_box li.kindname:hover .append_div .goodkindbox ul li {
  display: inline-block;
  padding: 0px 5px;
  text-align: center;
  color: #999;
  font-size: 12px;
  line-height: 24px;
}

.nav_category .all_category ul.all_category_title_box li.kindname .beforericon {
  font-size: 22px;
  margin-right: 10px;
}

.nav_category .all_category ul.all_category_title_box li.kindname .aftericon {
  float: right;
  line-height: 29px;
  height: 29px;
  margin-right: 20px;
}

.nav_category .all_category ul.all_category_title_box li.kindname a {
  font-size: 16px;
  line-height: 30px;
}

.nav_category .all_category ul.all_category_title_box li.kindname .append_div {
  position: absolute;
  left: 190px;
  top: 0;
  display: none;
}

.nav_category .all_category ul.all_category_title_box li.kindname .append_div li:hover {
  color: #ec3e7d;
}

.nav_category ul.sub_nav {
  float: left;
  height: 36px;
  line-height: 36px;
  position: relative;
  margin-left: 20px;
}

.nav_category ul.sub_nav li {
  float: left;
  display: inline-block;
  overflow: hidden;
  padding: 0 5px;
  text-align: center;
}

.nav_category ul.sub_nav li.sub_nav_item {
  position: relative;
}

.nav_category ul.sub_nav li.sub_nav_item a {
  color: #111111;
  font-size: 16px;
}

.nav_category ul.sub_nav li.sub_nav_item a:hover {
  color: #ec3e7d;
}

.nav_category ul.sub_nav li.sub_nav_item a i.icon-hot {
  font-size: 30px;
  color: #ec3e7d;
}

.nav_category ul.sub_nav li.sub_nav_sep {
  width: 20px !important;
  text-align: center !important;
  margin: 0 !important;
  color: #eee !important;
  font-weight: 100;
}

/*sasa的承诺*/
.sasa_promise_wrapper {
  border-top: 1px solid #ddd;
  background: white;
}

.sasa_promise_wrapper .sasa_promise {
  font-size: 12px;
  width: 1200px;
  height: 126px;
  margin: 0 auto;
  overflow: hidden;
}

.sasa_promise_wrapper .sasa_promise .sasa_promise_item {
  height: 100%;
  float: left;
  margin-right: 80px;
  overflow: hidden;
}

.sasa_promise_wrapper .sasa_promise .sasa_promise_item .sasa_promise_icon {
  float: left;
  margin-top: 42px;
  height: 32px;
  width: 32px;
  color: #fff;
  background-image: url(../images/promise_icon.png);
  background-repeat: no-repeat;
}

.sasa_promise_wrapper .sasa_promise .sasa_promise_item .sasa_promise_content {
  margin-left: 14px;
  float: left;
  height: 50px;
  overflow: hidden;
  margin-top: 38px;
}

.sasa_promise_wrapper .sasa_promise .sasa_promise_item .sasa_promise_content .sasa_promise_title {
  font-size: 18px;
  color: #222;
  width: 100%;
  height: 22px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.sasa_promise_wrapper .sasa_promise .sasa_promise_item .sasa_promise_content .sasa_promise_subtit {
  font-size: 13px;
  color: #999999;
  margin-top: 4px;
  width: 100%;
  height: 22px;
  overflow: hidden;
  white-space: nowrap;
}

/*footer*/
.buttom_box {
  overflow: hidden;
}

.buttom_box .footer_left {
  width: 800px;
  float: left;
  margin-bottom: 20px;
}

.buttom_box .footer_left li {
  width: 90px;
  margin-right: 60px;
  float: left;
}

.buttom_box .footer_left li h6 {
  color: #222;
  font-size: 14px;
}

.buttom_box .footer_left li a {
  display: inline-block;
  width: 90px;
  color: #999;
  font-size: 12px;
}

.buttom_box .footer_right {
  float: right;
  width: 300px;
  box-sizing: border-box;
}

.buttom_box .footer_right .btom-code {
  width: 128px;
  max-height: 178px;
  float: right;
  margin-top: 20px;
  text-align: center;
}

.buttom_box .footer_right .btom-code .btom-code img {
  width: 128px;
}

.buttom_box .footer_right .btom-code .footer_qrcode_name {
  font-size: 12px;
  font-weight: bold;
  color: #111111;
}

.buttom_box .footer_right .btom-code .footer_qrcode_desc {
  font-size: 12px;
  font-weight: bold;
  color: #111111;
}

.buttom_box .footer_right .btom-code2 {
  margin-right: 40px;
}

.buttom_box img {
  margin-bottom: 20px;
}

/*底部黑色区域*/
.footer_link_2 {
  background-color: #000;
  padding-top: 26px;
  padding-bottom: 26px;
  font-size: 12px;
}

.footer_link_2 a {
  display: inline-block;
  padding: 1px 5px;
  color: #fff;
  font-size: 12px;
}

.footer_link_2 .footer_link_2_copyright {
  padding-top: 14px;
  line-height: 12px;
  color: #fff;
}

/*sidebar*/
.siderbar .sidebar-box {
  position: fixed;
  right: 1px;
  top: 0;
  z-index: 528;
  height: 100%;
  width: 38px;
  background: #4c4c4c;
  text-align: center;
}

.siderbar .sidebar-box .expend_page, .siderbar .sidebar-box cont {
  display: none;
}

.siderbar .sidebar-box .side_item {
  position: relative;
  left: 0;
  width: 38px;
  line-height: 38px;
  cursor: pointer;
  text-align: center;
  z-index: 9;
  padding: 5px;
  box-sizing: border-box;
}

.siderbar .sidebar-box .side_item .cont {
  display: none;
  opacity: 0;
  position: absolute;
  right: 70px;
  top: 0px;
  width: 90px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  color: #ddd;
  background-color: #494949;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.siderbar .sidebar-box .side_item .arrow_right {
  position: absolute;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  font-size: 16px;
  font-family: "\5b8b\4f53";
}

.siderbar .sidebar-box .side_item:hover {
  background: #ec3e7d;
}

.siderbar .sidebar-box .side_item a {
  color: #fff;
  font-size: 12px;
  display: block;
  width: 20px;
  margin: 0 auto;
}

.siderbar .sidebar-box .side_item a i.iconfont {
  color: #c69a62;
  font-size: 20px;
}

.siderbar .sidebar-box .box-one {
  position: absolute;
  top: 40%;
  left: 0;
  margin-top: -190px;
  z-index: 2;
}

.siderbar .sidebar-box .box-one .sidecarts-explain {
  margin: 0 auto;
  font-weight: normal;
  line-height: 15px;
  padding-bottom: 10px;
}

.siderbar .sidebar-box .box-one .sidecart {
  line-height: 15px;
  border-top: 1px solid #666;
  padding: 25px 0;
  border-bottom: 1px solid #666;
}

.siderbar .sidebar-box .box-one .sidecart a {
  margin-bottom: 10px;
}

.siderbar .sidebar-box .box-one .sidecart #js_cartnum {
  color: #fff;
  font-size: 9px;
  display: inline-block;
  background-color: #ec3e7d;
  line-height: 20px;
  width: 20px;
  margin: 0 3px;
  display: inline-block;
  border-radius: 10px;
  text-align: center;
}

.siderbar .sidebar-box .box-two {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.list_nav .nav_category .container .all_category .all_category_title_box {
  display: none;
}

.list_nav .nav_category .container .all_category:hover .all_category_title_box {
  display: block;
}

.infoconts {
  height: 82px;
  overflow: hidden;
}

.tags {
  height: 22px;
}

.temaibanner {
  margin-top: -4px;
  margin: auto 30px auto;
  overflow: hidden;
}

.vip_header_img {
  position: relative;
}

.vip_header_img a.temailink {
  text-align: center;
  display: inline-block;
  width: 100%;
  height: 45px;
  position: absolute;
  left: 0px;
  bottom: 20px;
}

.vip_header_img a.temailink span {
  background-color: #fff;
  padding: 5px 30px;
  display: inline-block;
}

.rabit {
  width: 170px;
  text-align: center;
  position: fixed;
  top: 100px;
  right: 35px;
  overflow: hidden;
  z-index: 100;
}

.rabit a {
  text-decoration: none;
  display: block;
  line-height: 0;
}

.rabit img {
  border: none;
}

.vip_main {
  overflow: hidden;
  background-color: #f2f2f2;
}

.vip_main a {
  color: #3e3e3e;
}

.vip_main .vip_floor_cont {
  display: block;
  margin: 0 auto;
  width: 1090px;
}

.vip_main .vip_floor_cont img.img_vip2 {
  margin-bottom: 20px;
}

.vip_main .vip_floor_cont .floor_cont {
  width: 1150px;
  padding: 5px 0 30px 0;
  margin-left: -26px;
  float: left;
}

.vip_main .vip_floor_cont .floor_cont li {
  position: relative;
  width: 253px;
  height: 485px;
  float: left;
  margin: 0 26px 26px 0;
}

.vip_main .vip_floor_cont .floor_cont li .formall {
  width: 253px;
  height: 482px;
  background: #fff;
  position: absolute;
  left: 0;
  top: 0;
}

.vip_main .vip_floor_cont .floor_cont li .formall .icountry {
  width: 21px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
}

.vip_main .vip_floor_cont .floor_cont li .formall .icountry img {
  max-width: 22px;
  max-height: 22px;
  margin: 0;
}

.vip_main .vip_floor_cont .floor_cont li .formall .formalpic {
  width: 85px;
  height: 253px;
  position: absolute;
  right: 0;
  display: none;
}

.vip_main .vip_floor_cont .floor_cont li .formall .formalpic dl.formalpic_list {
  position: absolute;
  top: 5px;
}

.vip_main .vip_floor_cont .floor_cont li .formall .formalpic dl.formalpic_list dd {
  color: #98999b;
}

.vip_main .vip_floor_cont .floor_cont li .formall .formalpic dl.formalpic_list dd img {
  width: 76px;
  height: 76px;
  border: 4px solid #fff;
  cursor: pointer;
}

.vip_main .vip_floor_cont .floor_cont li .formall .formalpic dl.formalpic_list dd:hover img {
  border: 4px solid #c69a62;
}

.vip_main .vip_floor_cont .floor_cont li .formall .formalpic dl.formalpic_list dd.active {
  outline: 0 none;
}

.vip_main .vip_floor_cont .floor_cont li .formall .formalpic dl.formalpic_list dd.active img {
  border: 4px solid #c69a62;
}

.vip_main .vip_floor_cont .floor_cont li .formall .formallcont .arrivals-pic {
  position: relative;
  width: 253px;
  height: 253px;
  overflow: hidden;
}

.vip_main .vip_floor_cont .floor_cont li .formall .formallcont .arrivals-pic b, .vip_main .vip_floor_cont .floor_cont li .formall .formallcont .arrivals-pic dl {
  position: absolute;
  top: 5px;
}

.vip_main .vip_floor_cont .floor_cont li .formall .formallcont .arrivals-pic .arrivals-pic dl {
  right: 5px;
}

.vip_main .vip_floor_cont .floor_cont li .formall .formallcont .arrivals-pic img {
  width: 253px;
  height: 253px;
  display: block;
}

.vip_main .vip_floor_cont .floor_cont li .formall .formallcont .sale-price {
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  padding: 10px 15px;
  color: #858587;
}

.vip_main .vip_floor_cont .floor_cont li .formall .formallcont .sale-price .count {
  color: #c69a62;
  margin-top: 2px;
}

.vip_main .vip_floor_cont .floor_cont li .formall .formallcont .sale-price .price {
  font-size: 24px;
  margin-right: 10px;
}

.vip_main .vip_floor_cont .floor_cont li .formall .formallcont .arrivals-info {
  padding: 12px 15px;
  overflow: hidden;
}

.vip_main .vip_floor_cont .floor_cont li .formall .formallcont .arrivals-info .des02 {
  height: 20px;
  overflow: hidden;
  white-space: nowrap;
  padding: 0;
  line-height: 20px;
  font-size: 13px;
  text-overflow: ellipsis;
  font-weight: bold;
}

.vip_main .vip_floor_cont .floor_cont li .formall .formallcont .arrivals-info .des03 {
  overflow: hidden;
  line-height: 20px;
  font-size: 13px;
  height: 40px;
}

.vip_main .vip_floor_cont .floor_cont li .formall .formallcont .arrivals-info .tags a {
  background: #c69a62;
  display: inline-block;
  float: left;
  margin-right: 5px;
  font-size: 12px;
  padding: 0 5px;
  color: #fff;
  border-radius: 3px;
  margin-bottom: 4px;
}

.vip_main .vip_floor_cont .floor_cont li .formall .formallcont .btn-buy {
  padding: 10px 15px;
  display: none;
}

.vip_main .vip_floor_cont .floor_cont li .formall .formallcont .btn-buy a.btn-major {
  display: block;
  text-align: center;
}

.vip_main .vip_floor_cont .floor_cont li .formall .formallcont .btn-buy a.btn-major span {
  padding: 2px 0px;
  width: 224px;
  text-align: center;
}

.vip_main .vip_floor_cont .floor_cont li .formall .formallcont .btn-buy a.btn-major span span {
  background: #ec3e7d;
  color: #fff;
  display: inline-block;
  height: 100%;
  line-height: 35px;
  color: #fff;
}

.vip_main .vip_floor_cont .floor_cont li:hover .formall {
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
  height: 520px;
  position: absolute;
  z-index: 100000;
}

.vip_main .vip_floor_cont .floor_cont li:hover .formall .formalpic {
  display: block;
}

.vip_main .vip_floor_cont .floor_cont li:hover .formall .btn-buy {
  display: block;
}
